
 <img src="assets/img/caro3.jpg" style="width: 100%;" class="img-fluid" alt="Responsive image">
<div class="jumbotron" style="background-color: #a9a9a9; height: 100%;"> 
<h1>Welcome to my page</h1>
<p class="lead">
    Craete a Angular page with Edureka!
</p>

<div class="jumbotron">
    <h1 class="display-9">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-sm" href="http://alrakib.codefactory.live/FE21-CR4-ABDULLA/index.html" role="button">myMovieLIst</a>
    <a class="btn btn-primary btn-sm" href="http://alrakib.codefactory.live/FE21-CR5-ABDULLA/index.html" role="button">myBlog</a>

   
  </div>


<br>

<div class="card-group">

    <div class="card" >
        <img class="card-img-top"  src="assets/img/restaurants1.jpg" alt="">
         <div class="card-body">
           <h5 class="card-title">Angular CL</h5>
           <p class="card-text">ther angularer is a command line interface tool</p>
           <p class="card-text"><small class="text-muted">last undeated 3 min ago</small></p>
        </div>
      </div>


      <div class="card">
        <img class="card-img-top" src="assets/img/places2.jpg" alt="">
         <div class="card-body">
           <h5 class="card-title">Angular CL</h5>
           <p class="card-text">ther angularer is a command line interface tool</p>
           <p class="card-text"><small class="text-muted">last undeated 3 min ago</small></p>
        </div>
      </div> 

      <div class="card">
        <img class="card-img-top" src="assets/img/restaurants3.jpg" alt="">
         <div class="card-body">
           <h5 class="card-title">Angular CL</h5>
           <p class="card-text">ther angularer is a command line interface tool</p>
           <p class="card-text"><small class="text-muted">last undeated 3 min ago</small></p>
         </div>
     </div>  
   </div>
 </div>


 


<br>

